@model LiteCommerce.Models.ProductPaginationResult
@{
    ViewBag.Title = "MANAGE PRODUCTS";
    ViewBag.SmallTitle = "List, add, edit and delete products";
    ViewBag.Manage = "Catalog";
    ViewBag.ManageDetail = "Products";
    int i = 1;
}

<div class="box box-default">
    <form action="~/Product" method="get">
        <div class="input-group input-group-sm" style="display:block;">
            <div class="col-sm-6">
                <i>Category: </i>@Html.DropDownListFor(m => m.searchCategory, SelectListHelper.ListOfCategories(),
"----------------------------------------- All Category ----------------------------------------", new { @class = "select2 select2-hidden-accessible", @style = "width:475px" })
            </div>
            <div class="col-sm-6">
                <i>Price: </i>@Html.DropDownListFor(m => m.searchPrice, SelectListHelper.ListOfPrices(),
"----------------------------------------- All price -------------------------------------------", new { @class = "select2 select2-hidden-accessible", @style = "width:477px" })
            </div>
            
            
        </div>
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Enter the name product to search" name="searchValue" value="@Model.searchValue">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info btn-flat"><div class="fa fa-search"></div></button>
            </span>

        </div>
    </form>
</div>
<div class="box box-primary">
    <!-- /.box-header -->
    <form action="~/Product/Delete" method="post">
        <div class="box-body">
            <h3 style="float: right;" class="box-title">
                <button onclick="return confirm('Do you really want to delete selected products?')" class="btn btn-danger mr-3"
                        type="submit">
                    Delete Products
                </button>
            </h3>
            <h3 style="float: right; padding-right:5px;" class="box-title">
                <a class="btn btn-success mr-3"
                   href="~/Product/Input">Add product</a>
            </h3>
            <div style="padding-top:25px;">
                There are @Model.RowCount product, Page @Model.Page/@Model.PageCount
            </div>
            <table id="example1" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll" /></th>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Category</th>
                        <th>Quantity Per Unit</th>
                        <th>Unit Price</th>
                        <th>Decriptions</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td><input type="checkbox" name="productIDs" value="@item.ProductID" /></td>
                            <td>@(i++)</td>
                            <td>@item.ProductName</td>
                            <td><img class="profile-user-img img-responsive img-circle" src="@item.PhotoPath" alt="User profile picture"></td>
                            <td>@item.CategoryName</td>
                            <td>@item.QuantityPerUnit</td>
                            <td>@item.UnitPrice$</td>
                            <td>@item.Descriptions</td>
                            <td style="text-align: center;">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="~/Product/Input/@item.ProductID" class="btn btn-success mr-3"><i class="fa fa-edit"></i></a>
                                    <button name="productIDs" value="@item.ProductID" onclick="return confirm('Do you really want to delete this product?')" class="btn btn-danger mr-3"
                                            type="submit">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--Pagination-->
            <ul class="pagination pagination-sm no-margin pull-right">

                @if (Model.Page > 1)
                {
                    <li><a href="~/Product?page=@(Model.Page-1)&searchValue=@Model.SearchValue&searchCategory=@Model.searchCategory&searchPrice=@Model.searchPrice">«</a></li>
                }
                else
                {
                    <li class="hide"><a>«</a></li>
                }
                @if (Model.PageCount <= 5)
                {
                    for (int page = Model.Page; page <= Model.PageCount; page++)
                    {
                        <li><a href="~/Product?page=@page&searchValue=@Model.SearchValue&searchCategory=@Model.searchCategory&searchPrice=@Model.searchPrice">@page</a></li>
                    }
                }
                else
                if (Model.Page == Model.PageCount || Model.Page == Model.PageCount - 1)
                {
                    for (int page = (Model.PageCount - 4); page <= Model.PageCount; page++)
                    {

                        <li><a href="~/Product?page=@page&searchValue=@Model.SearchValue&searchCategory=@Model.searchCategory&searchPrice=@Model.searchPrice">@page</a></li>

                    }
                }
                else
                {
                    if (Model.Page > 2)
                    {
                        for (int page = Model.Page - 2; page <= (Model.Page + 2); page++)
                        {
                            <li><a href="~/Product?page=@page&searchValue=@Model.SearchValue&searchCategory=@Model.searchCategory&searchPrice=@Model.searchPrice">@page</a></li>
                        }
                    }
                    else
                    {
                        for (int page = Model.Page; page <= (Model.Page + 4); page++)
                        {
                            <li><a href="~/Product?page=@page&searchValue=@Model.SearchValue&searchCategory=@Model.searchCategory&searchPrice=@Model.searchPrice">@page</a></li>
                        }
                    }
                }
                @if (Model.Page < Model.PageCount)
                {
                    <li><a href="~/Product?page=@(Model.Page+1)&searchValue=@Model.SearchValue&searchCategory=@Model.searchCategory&searchPrice=@Model.searchPrice">»</a></li>
                }
                else
                {
                    <li class="hidden"><a>»</a></li>
                }
            </ul>
        </div>
    </form>
</div>
<!-- /.box-body -->